body, html, ul, li {
    padding: 0; /*mengatur jarak ke dalam*/
    margin: 0; /* mengatur jarak ke luar*/
}

body {
    display: grid;
    grid-template-areas: "nav nav"
                        "foto foto"
                        "side paragraf"
                        "kaki kaki";
    width: 100vw;
    height: 100vh;
    grid-template-columns: 0.3fr 1.5fr;
    grid-template-rows: 0.3fr 2fr 2fr 0.3fr;
    box-sizing: border-box;
    border: 1px solid black;
}

nav {
    grid-area: nav;
    background-color: #6b7175;
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:sticky;
    top: 0;
}

nav > ul {
    margin-right: 30px;
    list-style: none;
    display: flex;
}
nav ul li a {
    color: black;
    text-decoration: none;
}

span {
    grid-area: foto;
    display: flex;
    padding: 20px;
    transition: all ease-in-out 0.5s;
    justify-content: center;
    align-items: center;
}

span > img {
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 200px;
    height: 210px;
    transition: all ease-in-out 0.5s;
    border-radius: 50px;
}

span > img:hover {
    width: 950px;
    height: 210px;
    transition: all ease-in-out 0.5s;
    border-radius: 50px;
}

.kontak {
    list-style: none;
}

.tulisan {
    margin-top: 70px;
    margin-left: 60px;
    grid-area: side;
    float: left;
}
.text1 {
    margin-right: 60px;
    grid-area: paragraf;
    float: right;
}

.satu, .dua, .tiga {
    margin-bottom: 10px;
}

footer {
    grid-area: kaki;
    background-color: black;
    height: 8vh;
    width: 100vw;
    color: white;
    display: flex;
    font-style: italic;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.logo > img {
    width: 100px;
    height: 77px;
}

/* navbar css */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline;
    position: relative;
}

ul li a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    transition: all ease-in-out 0.5s;
    color: white;
}

ul li a:hover {
    background-color: #555;
    transition: all ease-in-out 0.5s;
}

ul li ul {
    display: none;
    position: absolute;
    background-color: #333;
    transition: all ease-in-out 0.5s;
}

ul li:hover ul {
    display: block;
    transition: all ease-in-out 0.5s;
}

ul li ul li {
    display: block;
    transition: all ease-in-out 0.5s;
}

ul li ul li a {
    padding: 10px 15px;
    color: white;
}